<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Detalle</ion-title>
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="../../../assets/icono.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="getDetallePeli()===undefined">
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
</ion-content>

<ion-content *ngIf="getDetallePeli()!==undefined" [fullscreen]="true">
  <ion-card>
    <ion-card-title>{{getDetallePeli()?.Title}}</ion-card-title>
    <div class="cabecera">
      <img
        class="ion-margin"
        alt="Silhouette of mountains"
        [src]="[getDetallePeli()?.Poster]"
      />

      <div>
        <ion-card-subtitle>Año:</ion-card-subtitle>
        <ion-chip>{{getDetallePeli()?.Year}}</ion-chip>

        <ion-card-subtitle>Director:</ion-card-subtitle>
        <ion-chip>{{getDetallePeli()?.Director}}</ion-chip>

        <ion-card-subtitle>Reparto:</ion-card-subtitle>
        <ion-chip>{{getDetallePeli()?.Actors}}</ion-chip>

        <ion-card-subtitle>Critica:</ion-card-subtitle>
        <ion-chip>{{getDetallePeli()?.imdbRating}}</ion-chip>
      </div>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-title>Resumen:</ion-card-title>

      <ion-card-subtitle>{{getDetallePeli()?.Plot}}</ion-card-subtitle>
    </ion-card-content>

    <ion-button (click)="pagAtras()">Atras</ion-button>
  </ion-card>
</ion-content>
