<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Buscar</ion-title>
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="../../../assets/icono.png" />
    </ion-avatar>
  </ion-toolbar>
  <ion-item>
    <ion-icon class="ion-padding" name="search-outline"></ion-icon>
    <ion-input
      [(ngModel)]="tituloPelicula"
      name="tituloPelicula"
      placeholder="  Pelicula"
    ></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="buscar()">Buscar</ion-button>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Buscar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Busqueda</ion-card-title>
      <ion-card-subtitle
        >{{peliculas.length}} peliculas encontradas</ion-card-subtitle
      >
    </ion-card-header>

    <ion-progress-bar *ngIf="cargando" type="indeterminate"></ion-progress-bar>

    <ion-card-content>
      <ion-list>
        <ion-item-sliding *ngFor="let peli of peliculas;index as i">
          <ion-item-options side="end">
            <ion-item-option color="success" (click)="agregar(i)"
              >Guardar</ion-item-option
            >
          </ion-item-options>
          <ion-item
            [button]="true"
            [routerLink]="['/ficha/',peli.imdbID]"
            routerLinkActive="router-link-active"
          >
            <ion-thumbnail slot="start">
              <img [alt]="['imagen ',peli.Title]" [src]="[peli.Poster]" />
            </ion-thumbnail>
            <ion-label>{{peli.Title}}</ion-label>
            <ion-avatar>
              <ion-label>{{peli.Year}} </ion-label>
            </ion-avatar>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-alert
    [isOpen]="isAlertError"
    header="Error en la Busqueda"
    [message]="mensajeAlerta"
    (didDismiss)="setErrorOpen(false)"
  ></ion-alert>
  <ion-toast
    [isOpen]="isGuardado"
    [message]="mensajeToast"
    [duration]="2000"
    (didDismiss)="setToast()"
  ></ion-toast>
</ion-content>
